/* styles.css */



.pagina-entrada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2.5rem;
    color: #fffdfdab;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
}
.botao-entrada {
    padding: 10px 20px;
    font-size: 1rem;
    color: #000000;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-entrada:hover {
    background-color: #bd2424;
}